span {
  background-color: #FFEDC8;
  border-style: ridge;
  font-weight: bold;
}
div {
  height: 50px;
  width: 100%;
  border-color: black;
  background-color: #CCBC9F;
  border-width: 4px;
  border-style: groove;
  margin: auto;
  text-align: center;
}
#tableau {
  font-family: "Courier New", "Courier New", Sans-Serif;
  font-size: 15px;
  margin: 10px 0;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
#tableau th {
  font-family: fantasy;
  font-size: 19px;
  font-weight: normal;
  padding: 8px;
  background: #b9c9fe url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2gjh1nPI/AAAAAAAACbg/7lNsVpks2oY/s1600/gradhead.png') repeat-x;
  border-top: 2px solid #d3ddff;
  border-bottom: 1px solid #fff;
  color: #039;
}
#tableau td {
  padding: 8px;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid #fff;
  background: #e8edff url('http://1.bp.blogspot.com/_xDpoN6UfFFY/S-J2f5yBC3I/AAAAAAAACbY/zWXYXsR-w5E/s1600/gradback.png') repeat-x;
}
#tableau .tfoot {
  background: black;
  font-size: 16px;
  color: #99c;
  text-align: center;
}
#tableau tbody tr:hover td {
  background: #d0dafd url('http://4.bp.blogspot.com/_xDpoN6UfFFY/S-J2hsztUzI/AAAAAAAACbo/ztV1CK0RUrE/s1600/gradhover.png') repeat-x;
  color: #0D20CC;
}
#tableau a:hover {
  text-decoration: underline;
}
p {
  text-decoration: underline;
  font-weight: bold;
  font-size: 16px;
  display: block;
}
/*compatible mobile*/
@media screen and (min-width:320px) {
  #tableau {
    background-color: white;
    font-size: 25px;
  }
  div {
    height: 50px;
    width: 100%;
    border-color: black;
    background-color: #CCBC9F;
    border-width: 4px;
    border-style: groove;
    margin: auto;
    margin-top: -5px;
    text-align: center;
  }
  p {
    text-decoration: underline;
    font-weight: bold;
    font-size: 13px;
    display: block;
  }
}
/*compatible tablette*/
@media screen and (min-width: 600px) {
  p {
    text-decoration:overline;
    font-weight: bold;
    font-size: 16px;
    display: block;
  }
  div {
    height: 50px;
    width: 100%;
    border-color: black;
    background-color: #CCBC9F;
    border-width: 4px;
    border-style: groove;
    margin: auto;
    margin-top: -5px;
    text-align: center;
  }
}
/*compatible écran */
@media screen and (min-width: 1080px){
  div {
    height: 50px;
    width: 100%;
    border-color: black;
    background-color: #CCBC9F;
    border-width: 4px;
    border-style: groove;
    margin: auto;
    margin-top: -5px;
    text-align: center;
  }
  p {
    text-decoration:line-through;
    font-weight: bold;
    font-size: 16px;
    display: block;
  }
  /*pour écran*/
  @media screen and (max-width: 1900px){
    p {
      text-decoration:line-through;
      font-weight: bold;
      font-size: 16px;
      display: block;
      text-decoration-style: wavy;
    }
}
